<div class="container">
  <p>
    <mat-toolbar>
      <span>My Application</span>
    </mat-toolbar>
  </p>
  <mat-card class="card">
    <mat-card-title>Registration Form</mat-card-title>
    <mat-divider></mat-divider>
    <mat-horizontal-stepper class="stepper">
      <mat-step  label="Personal Info.">
        <p>pesronal</p>
        <div>
          <button mat-raised-button matStepperNext>Next</button>
        </div>
      </mat-step>
      <mat-step  label="Address Info.">
        <p>adderess</p>
        <div>
          <button mat-raised-button matStepperPrevious>Back</button>
          <button mat-raised-button matStepperNext>Next</button>
        </div>
      </mat-step>
      <mat-step  label="Done">
        <p>done</p>
        <div>
          <button mat-raised-button matStepperPrevious>Back</button>
          <button mat-raised-button >Done</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </mat-card>
  
</div>
